.css-1adrfps.e1fqkh3o2{
    background-color: #283e5c;
 }

.css-amvtew.e16nr0p33 h2{
    color: #ffffff
}
.element-container.css-1p1nwyz.e1tzin5v3 label{
    color: #ffffff;
}
css-10trblm.e16nr0p30{
    color: #011839;
    
}
.element-container.css-8synn7.e1tzin5v3{
    height:5px;
}